Repository ManuelB/email-mcp: changes, and which lefthook commands are due for each by the changed paths.
All: biome, eslint, actionlint

lefthook.yml:

# ==============================================================================
# Lefthook Git Hooks Configuration
# ==============================================================================
# Docs: https://lefthook.dev/configuration/
#
# Install hooks: pnpm lefthook install
# ==============================================================================

pre-commit:
  parallel: true
  commands:
    biome:
      glob: '*.{ts,tsx,js,jsx,json,jsonc}'
      run: npx biome check --write {staged_files}
      stage_fixed: true
    eslint:
      glob: 'src/**/*.{ts,tsx,js,jsx}'
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    typecheck:
      run: npx tsc --noEmit
    actionlint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: actionlint {staged_files}

commit-msg:
  commands:
    conventional-commit:
      run: |
        cog verify --file {1} 2>/dev/null || {
          echo ""
          echo "‚ùå Invalid commit message format"
          echo ""
          echo "Expected: <type>(<scope>): <description>"
          echo "Example:  feat(imap): add thread reconstruction"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          exit 1
        }

pre-push:
  parallel: true
  commands:
    test:
      run: pnpm test
    check:
      run: pnpm check

test(integration): add connection mode tests for plain, STARTTLS, and implicit SSL
  .gitignore
  src/__integration__/email-connection-modes.integration.test.ts
  src/__integration__/globalSetup.ts
  src/__integration__/helpers/config.ts
  src/__integration__/helpers/index.ts
  src/__integration__/vitest.d.ts
Due: biome, eslint

build(docker): add docker and goreleaser scripts, fix build for dockers_v2 context
  .github/workflows/release.yml
  .goreleaser.yaml
  package.json
  tsconfig.build.json
Due: biome, actionlint

build(docker): add OCI manifest annotations for GHCR multi-arch images
  .goreleaser.yaml
Due: none

ci: refactor workflows to use codefuturist/shared-workflows@v1
  .github/workflows/ci.yml
  .github/workflows/docker-rebuild.yml
  .github/workflows/docker-sha.yml
  .github/workflows/release.yml
Due: actionlint

fix: defer post-connect work until MCP handshake completes
  src/logging.test.ts
  src/logging.ts
  src/main.ts
Due: biome

chore(version): v0.2.1
  CHANGELOG.md
  package.json
Due: biome

ci: sequence mcp registry publish after npm
  .github/workflows/release.yml
Due: actionlint

fix: remove unsupported docker package from MCP registry server.json
  .github/workflows/release.yml
  server.json
Due: biome, actionlint

docs: add scheduler daemon setup instructions and delivery requirements
  README.md
Due: none
